@model IDAProject.Web.Admin.Models.ViewModels.OrderLines.OrderLinesViewModel
@using IDAProject.Web.Admin.Models.Common
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Admin.Models.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

<div class="card">
    <div class="card-body">

        <!-- Dugme za ručnu izmenu količine -->
        <div class="row mb-3">
            <div class="col-12 text-start">
                <button class="btn btn-secondary red" id="buttonOpenModal">
                    @localizer["Change quantity manually"]
                </button>
            </div>
        </div>

        <!-- Panel sa filterima -->
        <div class="panel panel-primary collapse show">

            <form id="searchForm">

                <!-- RED 1: Broj porudžbine i broj artikla -->
                <div class="row g-3 mb-2">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="form-label">@localizer["Select date"]:</label>
                        <input type="text" id="DateId" name="DateId" class="form-control" placeholder="Odaberi datum..." />
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <tms-select-multi name="Segment" id="SegmentId"
                                          options="@Model.Segments"
                                          label="@localizer["Segment"]:" />
                    </div>
                </div>

                <!-- RED 2: Datum i Segment -->
                <div class="row g-3 mb-2">
                    <div class="col-12 col-md-6 col-lg-6">
                        <tms-select-multi name="ContextOrderHeaderId" id="ContextOrderHeaderId"
                                          options="@Model.OrderHeaders"
                                          label="@localizer["Customer order number"]:"
                                          selected-option="@Model.OrderHeaderId" />
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <tms-select-multi name="FebiItemId" id="FebiItemId"
                                          options="@Model.FebiItems"
                                          label="@localizer["Febi article no"]:" />
                    </div>
                </div>

                <!-- RED 3: Partner Code -->
                <div class="row g-3 mb-2">
                    <div class="col-12 col-md-6 col-lg-6">
                        <tms-select-multi name="PartnerCode" id="PartnerCodeId"
                                          options="@Model.PartnerCodes"
                                          label="@localizer["Partner code"]:" />
                    </div>
                </div>

                <!-- Dugmad -->
                <div class="row mt-3">
                    <div class="col-12 text-end">
                        <button type="reset" class="btn btn-secondary red" id="buttonResetSearch">@localizer["ResetSearch"]</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>