@using IDAProject.Web.Admin.Models.Common;
@model IDAProject.Web.Admin.Models.ViewModels.Home.HomeViewModel
@using IDAProject.Web.Models.RequestModels.Employees
@using IDAProject.Web.Models.RequestModels.Partners;
@using IDAProject.Web.Models.General.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer

@{
    ViewData["Title"] = "Sirius dashboard";
    var urlLogout = Url.RouteUrl(RouteNames.Accounts_Logout);
}
<style>
    .partial-container-wrapper1 {
        resize: both;
        width: 100%;
    }

    .partial-container-wrapper2 {
        resize: both;
        width: 100%;
    }

    .partial-container1 {
        width: 140%;
        height: 100%;
        transform: scale(0.75);
        transform-origin: top left;
    }

    .partial-container2 {
        width: 130%;
        height: 100%;
        transform: scale(0.75);
        transform-origin: top left;
    }

    .green-color {
        color: green;
    }

    .blue-color {
        color: royalblue;
    }

    .red-color {
        color: orangered;
    }

    .rod-color {
        color: darkgoldenrod;
    }

    .green1-color {
        color: mediumseagreen;
    }

    .blue1-color {
        color: dodgerblue;
    }

    .red1-color {
        color: indianred;
    }

    .yellow-color {
        color: gold;
    }

    .brown-color {
        color: brown;
    }

    .blue2-color {
        color: mediumblue;
    }

    .red2-color {
        color: mediumvioletred;
    }

    .yellow1-color {
        color: chocolate;
    }

    .brown1-color {
        color: saddlebrown;
    }
    .custom-shadow {
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.7); /* crvena senka */
    }

    .info-box {
        background-color: white;
        color: black;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

</style>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<script src="~/lib/chart/chart.js"></script>

<div class="container-fluid mt-4">
    <div class="row align-items-center info-box">

        <div class="col-md-8">
            <h1>Zdravo @Model.User.FirstName!</h1>
            <p>
                Ovde će kasnije ići tekst ili informacije koje želiš da prikažeš korisniku.
                Možeš dodavati kartice, statistike, ili šta god budeš želeo.
            </p>
        </div>

        <div class="col-md-4 text-center">

            <img src="@Model.EmployeePhoto"
                 alt="Profilna slika"
                 class="img-fluid rounded-circle"
                 style="max-width: 200px;" />

            <!-- Dugmad ispod slike -->
            <div class="mt-3 d-flex justify-content-center gap-2">
                <a href="@urlLogout" class="btn btn-danger">
                   @localizer["Log out"]
                </a>

                <a href="/Home/Instructions" class="btn btn-primary">
                    @localizer["Manual"]
                </a>
            </div>

        </div>

    </div>
</div>


<script>

    $(document).ready(function () {


    });
</script>
