@model IDAProject.Web.Admin.Models.ViewModels.Roles.RolesViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Models.RequestModels.MasterData;
@using IDAProject.Web.Admin.Models.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@using System.ComponentModel;
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

<div class="card">
    <div class="card-body">
        <div class="panel panel-primary">
            <div class="panel-body tabs-menu-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab25">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="context-panel">
                                    <div class="card-body tab-option-container">
                                        <button id="roleAdd">
                                            <i class="fa fa-plus" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["AddNew"]</div>
                                        </button>
                                        <button id="roleEdit">
                                            <i class="fa fa-pencil-square-o" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Edit"]</div>
                                        </button>
                                        <button id="roleDelete">
                                            <i class="fa fa-trash-o" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Delete"]</div>
                                        </button>
                                        <button id="roleFeatures">
                                            <i class="fa fa-share-alt" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Manage features"]</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row search-params-wrapper">
                <div class="col-sm-12 col-md-12 col-xl-4">
                    <tms-input type="Text" name="Keyword" id="roleKeyword" label="@localizer["Keyword"]:" />
                </div>
                <div class="btn-list text-end search-button-wrapper">
                    <div class="form-group">
                        <button class="btn btn-primary" id="buttonSearchRoles">@localizer["Search"]"</button>
                        <button class="btn btn-primary" id="buttonResetSearchRoles">@localizer["Reset search"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>