@model IDAProject.Web.Admin.Models.ViewModels.Employees.EmployeesViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Models.RequestModels.MasterData;
@using IDAProject.Web.Admin.Models.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

@{
    if (Model.JobTypeId == 0)
    {
        Model.JobTypeId = JobTypes.Company_driver;
    };

    var jobTypeDescription = JobTypes.GetDescription(Model.JobTypeId);
    ViewData["Title"] = $"Employees - {jobTypeDescription}";
    var urlDelete = Url.RouteUrl(RouteNames.Employees_Delete, new { employeeId = 111 });
}

<div class="row row-sm">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body p-0 task-edit-main">
                <div class="row p-5 border-bottom">
                    <div class="col-sm-12 col-md-12 col-xl-7">
                        <tms-input type="Text" name="Keyword" id="empSearchKeyword" label="Keyword:" placeholder="Drivers name, middlename, surname" />
                        <tms-input type="Hidden" name="JobTypeId" id="JobTypeId" value="@Model.JobTypeId" />
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-5">
                        <div class="form-group">
                            <label class="form-label text-muted" for="empSearchBlocked">Blocked:</label>
                            <select class="form-control form-select text-dark" id="empSearchBlocked" name="Blocked">
                                <option value="" selected="selected">All</option>
                                <option value="false">Active</option>
                                <option value="true">Blocked</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="p-5">
                    <div class="btn-list text-left float-left">
                        <button class="btn btn-info-gradient" id="buttonEmployeeDetails">Employee details</button>
                    </div>
                    <div class="btn-list text-end float-right">
                        <button class="btn btn-primary" id="buttonSearchEmployees">Search</button>
                        <button class="btn btn-primary" id="buttonResetSearchEmployees">Reset search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body" style="overflow-x:auto">
                <tms-ajax-table id="tableEmployees" view-model="@Model" table-settings-reference-table="Employees" />
            </div>
        </div>
    </div>
</div>
<tms-modal id="editDispatchersAssignment" title="Edit" save-button="false" modal-size="@ModalSize.Large" />
<tms-modal id="dispatcherDriversList" title="" save-button="false" modal-size="@ModalSize.Large" />

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/select2/select2.min.css" />
}
    @section Scripts {

    <script type="text/javascript" src="~/lib/select2/select2.min.js"></script>

    <script type="text/javascript">

        function searchEmployees() {

            $.ajax({
                url: "@Url.RouteUrl(RouteNames.Employees_Search)",
                method: "POST",
                data: {
                    blocked: $("#empSearchBlocked").val(),
                    keyword: $("#empSearchKeyword").val(),
                    jobTypeId: $("#JobTypeId").val(),
                },
                success: function (response) {
                    loadJson("tableEmployees", response);
                }
            });
        }

        $(document).ready(function () {

            $("#empEdit").click(function () {
                var selectedId = getSelectedItemId("tableEmployees");
                document.location = '@Url.RouteUrl(RouteNames.Employees_Edit, new { id = "111" })'.replace("111", selectedId);
            });

            $("#empView").click(function () {
                var selectedId = getSelectedItemId("tableEmployees");
                document.location = '@Url.RouteUrl(RouteNames.Employees_View, new { id = "111" })'.replace("111", selectedId);
            });

            $("#empDelete").click(function () {
                Swal.fire({
                    title: '@localizer["DeleteQuestion"]',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '@localizer["DeleteConfirmation"]'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var selectedId = getSelectedItemId("tableEmployees");
                        var jobTypeId = $("#PartnerCategoryId").val();
                        $.ajax({
                            url: '@urlDelete'.replace("111", selectedId),
                            method: "POST",
                            data: {
                                jobTypeId: jobTypeId,
                            },
                            success: function (response) {
                                loadJson("tableEmployees", response);
                            }
                        });
                    }
                })
            });

            $("#buttonSearchEmployees").click(searchEmployees);


            $('#empDocuments').click(function () {
                var selectedId = getSelectedItemId("tableEmployees");
                window.open(
                    '@Url.RouteUrl(RouteNames.Employees_Documents, new { employeeId = "111" })'.replace("111", selectedId),
                    '_blank'
                );
            });

            $("#buttonResetSearchEmployees").click(function () {
                $("#empSearchBlocked").val(null);
                $("#empSearchKeyword").val(null);
                var jobTypeId = $("#PartnerCategoryId").val();
                $.ajax({
                    url: "@Url.RouteUrl(RouteNames.Employees_Search)",
                    method: "POST",
                    data: {
                        blocked: null,
                        keyword: null,
                        jobTypeId: jobTypeId,
                    },
                    success: function (response) {
                        loadJson("tableEmployees", response);
                    }
                });
            });

            $("#buttonEmployeeDetails").click(function () {
                var selectedId = getSelectedItemId("tableEmployees");
                //alert('You want to display employee details for id ' + selectedId);
                window.open(
                    '@Url.RouteUrl(RouteNames.Employees_Details, new { id = "111" })'.replace("111", selectedId),
                    '_blank'
                );
            });

            $('#tableEmployees tbody').on('dblclick', 'tr', function () {
                var selectedId = getSelectedItemId("tableEmployees");
                window.open(
                    '@Url.RouteUrl(RouteNames.Employees_Details, new { id = "111" })'.replace("111", selectedId),
                    '_blank'
                );
            });
            searchEmployees();
        });
    </script>
}