@model IDAProject.Web.Admin.Models.ViewModels.Employees.EmployeesViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Models.RequestModels.MasterData;
@using IDAProject.Web.Admin.Models.TagHelpers;
@using NPOI.SS.Formula.Functions
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

@{
	//if (Model.JobTypeId == 0)
	//{
	//    Model.JobTypeId = JobTypes.Company_driver;
	//};

	//var jobTypeDescription = JobTypes.GetDescription(Model.JobTypeId);
	//ViewData["Title"] = $"Employees - {jobTypeDescription}";
	ViewData["Title"] = $"Employees";
	var localizedPagination = @Html.Raw(Json.Serialize(new PaginationLocalizerModel(localizer)));
	var urlDelete = Url.RouteUrl(RouteNames.Employees_Delete, new { id = 111 });
	var urlNextEmployee = Url.RouteUrl(RouteNames.Employees_NextRow, new { currentId = 111 });
	var urlPreviousEmployee = Url.RouteUrl(RouteNames.Employees_PreviousRow, new { currentId = 111 });


}
<style>
	#tableEmployees tbody tr {
		cursor: pointer !important;
	}
</style>
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header border-bottom">
				<h4 class="mb-0">@localizer["Staff"]</h4>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-end">
		<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#employeeCollapse" aria-expanded="true" aria-controls="employeeCollapse" style="background-color:white;">
			<i class="fa fa-expand" id="showContext" style="color:black;"></i>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<partial name="ContextOptionsPartial" model="@Model" />
	</div>
</div>
<div class="row row-sm">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" style="overflow-x:auto">
				<tms-ajax-table id="tableEmployees" view-model="@Model" table-settings-reference-table="Employees" />
			</div>
		</div>
	</div>
</div>
<tms-modal id="editDispatchersAssignment" title="Edit" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="dispatcherDriversList" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="identityCards" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="driverLicences" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="passports" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="healthBooks" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="medicalExaminations" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="certificates" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="dangerousSubstances" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="professionalCards" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="cards" title="" save-button="false" modal-size="@ModalSize.Large" />
<tms-modal id="violations" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />
<tms-modal id="absences" title="" save-button="false" modal-size="@ModalSize.Large" />
<tms-modal id="communicationWithDrivers" title="" save-button="false" modal-size="@ModalSize.ExtraLarge" />


@section Styles {
	<link rel="stylesheet" type="text/css" href="~/lib/select2/select2.min.css" />
}
@section Scripts {

	<script type="text/javascript" src="~/lib/select2/select2.min.js"></script>

	<script type="text/javascript">
		function changeMainIcon() {
				if ($("#employeeCollapse").hasClass("show")) {
					$("#showContext").removeClass("fa-expand").addClass("fa-compress");
				} else {
					$("#showContext").removeClass("fa-compress").addClass("fa-expand");
				}
		}
		function changeSecondIcon() {
			if ($("#searchContext").hasClass("show")) {
				$("#showSearch").removeClass("fa-angle-down").addClass("fa-angle-up");
			}
			else
			{
				$("#showSearch").removeClass("fa-angle-up").addClass("fa-angle-down");
			}
		}

		function getSelectedEmployeeDescription(selectedId) {
			var rowData = getSelectedItemData("tableEmployees");
			var description = `${rowData.photo} ${rowData.name} ${rowData.surname}`;
			return description;
		}

		function getEmployeeNameForPrint(id) {
			var row = $("#tableEmployees").find("tr[data-id='" + id + "']");
			var secondColumnText = row.find("td:eq(3)").text().trim();
			var fourthColumnText = row.find("td:eq(4)").text().trim();

			var combinedText = secondColumnText + " " + fourthColumnText;

			return combinedText;
		}

		var jobTypeId = @Html.Raw(Json.Serialize(Model.JobTypeId));

		function searchEmployees() {
			var filterCriteria = {
				blocked: $("#empSearchBlocked").val(),
				keyword: $("#empSearchKeyword").val(),
				jobTypeId: jobTypeId
			};

			localStorage.setItem('filterCriteria', JSON.stringify(filterCriteria));

			$.ajax({
				url: "@Url.RouteUrl(RouteNames.Employees_Search)",
				method: "POST",
				data: filterCriteria,
				success: function (response) {
					response.forEach(function(employee) {
						if (employee.photo && employee.photo !== '') {
							employee.photo = '<img src="' + employee.photo + '" alt="Photo" style="width: 50px; height: 50px;"/>';
						} else {
							employee.photo = '';
						}
					});

					loadJson("tableEmployees", response, @localizedPagination);

					// Select the row logic
					var selectedRowId = localStorage.getItem("#empId");
					if (selectedRowId) {
						$("#tableEmployees tr").each(function () {
							if ($(this).data("id") == selectedRowId) {
								$(this).addClass("selected");
							} else {
								$(this).removeClass("selected");
							}
						});
					} else {
						$("#tableEmployees tr").removeClass("selected");
					}	
				}
			});
		}
		function applyFilters() {
			var filterCriteria = JSON.parse(localStorage.getItem('filterCriteria'));
			if (filterCriteria) {
				$("#empSearchBlocked").val(filterCriteria.blocked);
				$("#empSearchKeyword").val(filterCriteria.keyword);
				$("#jobTypeId").val(filterCriteria.jobTypeId);


				searchEmployees();
			}
			var selectedRowId = localStorage.getItem("#empId");
			if (selectedRowId) {
				// Koristite setTimeout kako biste osigurali da se tabela prvo učita
				setTimeout(function () {
					$("#tableEmployees tr").each(function () {
						if ($(this).data("id") == selectedRowId) {
							$(this).addClass("selected");
						}
					});
				}, 100);
			}
		}

		function resetFilters() {
			// Resetovanje vrednosti filtera
			$("#empSearchBlocked").val('');
			$("#empSearchKeyword").val('');

			// Uklanjanje filtera iz localStorage
			localStorage.removeItem('filterCriteria');

			// Ponovno učitavanje tabele bez filtera
			searchEmployees();
		}

		function saveSelectedRow(rowId) {
			localStorage.setItem("#empId", rowId);
		}

		$("#tableEmployees").on("click", "tr", function () {
			var selectedRowId = $(this).data("id"); // Pretpostavljam da red ima `data-id` atribut sa ID-om reda
			saveSelectedRow(selectedRowId);
			// Ostatak logike za selektovanje reda, kao što je dodavanje klase za označavanje
			$("#tableEmployees tr").removeClass("selected");
			$(this).addClass("selected");
		});

		$(document).ready(function () {
			changeMainIcon();
			changeSecondIcon();


			$("#tableEmployees tr.selected").removeClass("selected");

			$("#empEdit").click(function () {
				var selectedId = getSelectedItemId("tableEmployees");
				document.location = '@Url.RouteUrl(RouteNames.Employees_Edit, new { id = "111" })'.replace("111", selectedId);
			});
			$("#empView").click(function () {
				var selectedId = getSelectedItemId("tableEmployees");
				document.location = '@Url.RouteUrl(RouteNames.Employees_View, new { id = "111" })'.replace("111", selectedId);
			});

			$("#tableEmployees").on("dblclick", "tbody tr", function () {
				var selectedId = $(this).data("id");
				document.location = '@Url.RouteUrl(RouteNames.Employees_View, new { id = "111" })'.replace("111", selectedId);
			});

			$("#empDelete").click(function () {
				Swal.fire({
					title: '@localizer["DeleteQuestion"]',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: '@localizer["DeleteConfirmation"]'
				}).then((result) => {
					if (result.isConfirmed) {
						var selectedId = getSelectedItemId("tableEmployees");
						var jobTypeId = $("#PartnerCategoryId").val();
						$.ajax({
							url: '@urlDelete'.replace("111", selectedId),
							method: "POST",
							data: {
								jobTypeId: jobTypeId,
							},
						   success: function (response) {
							handleActionResponseMessage(response, function () {
								location = response.message;
							}, '@localizer["Error"]', '@localizer["DeletedMsg"]');
						}
						});
					}
				})
			});
			$('#empAddresses').click(function () {
				var selectedId = getSelectedItemId("tableEmployees");
				window.open(
					'@Url.RouteUrl(RouteNames.Addresses_List, new { AddressTypeId = AddressTypes.EmployeeAddress, Id = "111" })'.replace("111", selectedId),
					'_blank'
				);
			});

			$("#buttonSearchEmployees").click(searchEmployees);
			$("#empSearchKeyword").on('keypress', function (e) {
				if (e.which === 13) {
					searchEmployees();
				}
			});

			$('#empDocuments').click(function () {
				var selectedId = getSelectedItemId("tableEmployees");
				window.open(
					'@Url.RouteUrl(RouteNames.Employees_Documents, new { employeeId = "111" })'.replace("111", selectedId),
					'_blank'
				);
			});

			$("#buttonResetSearchEmployees").click(function () {
				$("#empSearchBlocked").val(null);
				$("#empSearchKeyword").val(null);
				// var jobTypeId = $("#PartnerCategoryId").val();
				// $.ajax({
				// 	url: "@Url.RouteUrl(RouteNames.Employees_Search)",
				// 	method: "POST",
				// 	data: {
				// 		blocked: null,
				// 		keyword: null,
				// 		jobTypeId: jobTypeId,
				// 	},
				// 	success: function (response) {
				// 		loadJson("tableEmployees", response, @localizedPagination);
				// 	}
				// });
				searchEmployees();
			});




			$("#empExportExcel").click(function () {
				exportToExcel("tableEmployees", "Employees.xlsx");
			});

			$('#employeeCollapse').on('show.bs.collapse', function () {
				$("#showContext").removeClass("fa-expand").addClass("fa-compress");
			});

			$('#employeeCollapse').on('hide.bs.collapse', function () {
				$("#showContext").removeClass("fa-compress").addClass("fa-expand");
			});




			$('#searchContext').on('show.bs.collapse', function (e) {
				e.stopPropagation();
				$("#showSearch").removeClass("fa-angle-down").addClass("fa-angle-up");
			});

			$('#searchContext').on('hide.bs.collapse', function (e) {
				e.stopPropagation();
				$("#showSearch").removeClass("fa-angle-up").addClass("fa-angle-down");
			});

			let currentId = $("#empId").val();

			$("#EmployeeNext").click(function () {
			$.ajax({
				url: `@urlNextEmployee`.replace('111', currentId),
				method: "GET",
				success: function (response) {
					if (response.valid) {
						currentId = response.payload.id;

						let newUrl = window.location.protocol + "//" + window.location.host + '/Employees/edit/' + currentId;
						history.pushState({ path: newUrl }, '', newUrl);
						location.reload();
					}
				},
				error: function (xhr, status, error) {
					alert("An error occurred while fetching the next order: " + error);
				}
				});
			});

			$("#EmployeePrevious").click(function () {
			$.ajax({
				url: `@urlPreviousEmployee`.replace('111', currentId),
				method: "GET",
				success: function (response) {
					if (response.valid) {
						currentId = response.payload.id;

						let newUrl = window.location.protocol + "//" + window.location.host + '/Employees/edit/' + currentId;
						history.pushState({ path: newUrl }, '', newUrl);
						location.reload();
					}
				},
				error: function (xhr, status, error) {
					alert("An error occurred while fetching the next order: " + error);
				}
				});
			});

			searchEmployees();
		});
	</script>
}