@model IDAProject.Web.Admin.Models.ViewModels.Companies.CompaniesViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Models.RequestModels.MasterData;
@using IDAProject.Web.Admin.Models.TagHelpers;
@using System.ComponentModel;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

<div class="card">
    <div class="card-body">
        <div class="panel panel-primary">
            <div class="panel-body tabs-menu-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab25">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="context-panel">
                                    <div class="card-body tab-option-container" style="overflow-x:auto">
                                        <button id="compCreate">
                                            <i class="fa fa-plus" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["AddNew"]</div>
                                        </button>
                                        <button id="compEdit">
                                            <i class="fa fa-pencil-square-o" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Edit"]</div>
                                        </button>
                                        <button id="compView">
                                            <i class="fa fa-eye" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["View"]</div>
                                        </button>
                                        <button id="compDelete">
                                            <i class="fa fa-trash-o" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Delete"]</div>
                                        </button>
                                        <button id="compOrgUnits">
                                            <i class="fa fa-cubes" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Org units"]</div>
                                        </button>
                                        <button id="compAddresses">
                                            <i class="fa fa-address-book" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-folder-open-o" aria-label="fa fa-folder-open-o"></i>
                                            <div>@localizer["Addresses"]</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
