@model IDAProject.Web.Admin.Models.ViewModels.Companies.CompaniesViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Models.RequestModels.MasterData;
@using IDAProject.Web.Admin.Models.TagHelpers;
@using System.ComponentModel;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

@{
    ViewData["Title"] = "Companies";
    var urlDeleteCompany = Url.RouteUrl(RouteNames.Companies_Delete, new { id = 111 });
}

<div class="row">
    <div class="col-md-12">
        <partial name="ContextOptionsPartial" model="@Model" />
    </div>
</div>
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body" style="overflow-x:auto">
                <tms-ajax-table id="tableCompanies" view-model="@Model" table-settings-reference-table="Companies" />
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/select2/select2.min.css" />
}
@section Scripts {

    <script type="text/javascript" src="~/lib/select2/select2.min.js"></script>
    <script type="text/javascript">

        function searchCompanies() {

            $.ajax({
                url: "@Url.RouteUrl(RouteNames.Companies_Search)",
                method: "POST",
                success: function (response) {
                    loadJson("tableCompanies", response);
                }
            });
        }

        $(document).ready(function () {
            $("#compEdit").click(function () {
                var selectedId = getSelectedItemId("tableCompanies");
                if (selectedId !== undefined) {
                    document.location = '@Url.RouteUrl(RouteNames.Companies_Edit, new { id = "111" })'.replace("111", selectedId);
                }
            });
            $("#compView").click(function () {
                var selectedId = getSelectedItemId("tableCompanies");
                if (selectedId !== undefined) {
                    document.location = '@Url.RouteUrl(RouteNames.Companies_View, new { id = "111" })'.replace("111", selectedId);
                }
            });
            $("#compCreate").click(function () {
                document.location = '@Url.RouteUrl(RouteNames.Companies_New)';
            });
            $("#compDelete").click(function () {
                var selectedId = getSelectedItemId("tableCompanies");
                if (selectedId !== undefined) {
                    Swal.fire({
                        title: '@localizer["DeleteQuestion"]',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: '@localizer["DeleteConfirmation"]'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '@urlDeleteCompany'.replace("111", selectedId),
                                method: "DELETE",
                                success: function (response) {
                                    location = response.message;
                                }
                            });
                        }
                    })
                }
            });

            $('#compOrgUnits').click(function () {
                var selectedId = getSelectedItemId("tableCompanies");
                if (selectedId !== undefined) {
                    window.open(
                        '@Url.RouteUrl(RouteNames.OrgUnits_List, new { companyId = "111" })'.replace("111", selectedId),
                        '_blank'
                    );
                }
            });
            $('#compAddresses').click(function () {
                var selectedId = getSelectedItemId("tableCompanies");
                window.open(
                    '@Url.RouteUrl(RouteNames.Addresses_List, new { AddressTypeId = AddressTypes.CompanyAddress, Id = "111" })'.replace("111", selectedId),
                    '_blank'
                );
            });
            searchCompanies();
        });
    </script>
}