@model IDAProject.Web.Admin.Models.ViewModels.Periods.PeriodsViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Models.General.Enums
@using IDAProject.Web.Models.RequestModels.MasterData;
@using IDAProject.Web.Admin.Models.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin

@{
    var urlDelete = Url.RouteUrl(RouteNames.Periods_Delete, new { id = 111 });
    var localizedPagination = @Html.Raw(Json.Serialize(new PaginationLocalizerModel(localizer)));
}

<div class="row">
    <div class="col-md-12">
        <partial name="ContextOptionsPartial" model="@Model" />
    </div>
</div>
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body" style="overflow-x:auto">
                <tms-ajax-table id="tablePeriods" view-model="@Model" table-settings-reference-table="Periods" />
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/select2/select2.min.css" />
}
@section Scripts {

    <script type="text/javascript" src="~/lib/select2/select2.min.js"></script>

    <script type="text/javascript">

        function searchPeriods() {

            $.ajax({
                url: "@Url.RouteUrl(RouteNames.Periods_Search)",
                method: "POST",
                data: {},
                success: function (response) {
                    loadJson("tablePeriods", response, @localizedPagination);
                }
            });
        }

        $(document).ready(function () {

            $("#periodsEdit").click(function () {
                var selectedId = getSelectedItemId("tablePeriods");
                if (selectedId !== undefined) {
                    document.location = '@Url.RouteUrl(RouteNames.Periods_Edit, new { id = "111" })'.replace("111", selectedId);
                }
            });
            $("#periodsAdd").click(function () {
                 document.location = '@Url.RouteUrl(RouteNames.Periods_New)';
            });
            $("#periodsView").click(function () {
                var selectedId = getSelectedItemId("tablePeriods");
                if (selectedId !== undefined) {
                    document.location = '@Url.RouteUrl(RouteNames.Periods_View, new { id = "111" })'.replace("111", selectedId);
                }
            });
            $("#periodsDelete").click(function () {
                var selectedId = getSelectedItemId("tablePeriods");
                if (selectedId !== undefined) {
                    Swal.fire({
                        title: '@localizer["DeleteQuestion"]',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: '@localizer["DeleteConfirmation"]'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '@urlDelete'.replace("111", selectedId),
                                method: "DELETE",
                                success: function (response) {
                                    location = response.message;
                                }
                            });
                        }
                    })
                }
            });
            searchPeriods();
        });
    </script>
}