@model IDAProject.Web.Admin.Models.ViewModels.EmployeeAbsences.EmployeeAbsenceViewModel
@using IDAProject.Web.Admin.Models.Common;
@using IDAProject.Web.Helpers;
@using IDAProject.Web.Models.RequestModels.MasterData;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@addTagHelper IDAProject.Web.Admin.TagHelpers.*, IDAProject.Web.Admin
@{

	var id = DataHelpers.GetRandomHtmlId();
	var getUrl = Url.RouteUrl(RouteNames.EmployeeAbsences_RecordsByEmployeeId, new { employeeId = Model.EmployeeId });
	var delUrl = Url.RouteUrl(RouteNames.EmployeeAbsences_Delete, new { id = 111 });
}
<style>
	#tableVehicleAssignmentsByVehicle tbody tr td:first-child {
		cursor: pointer;
	}
</style>
<div id="@id">
	<div class="card">
		<div class="card-body">
			<div class="panel panel-primary">
				@* <div class="row">
					<div class="col-md-12 text-end">
						<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#absenceCollapse" aria-expanded="true" aria-controls="absenceCollapse" style="background-color:white;">
							<i class="fa fa-expand" id="showContext" style="color:black;"></i>
						</button>
					</div>
				</div> *@
				<div class="row collapse show" id="absenceCollapse">
					<div class="col-lg-12 col-md-12" id="absenceDataContainer">
						<div class="card">
							<div class="card-header border-bottom">
								<h4 class="mb-0">@localizer["Enter absence"]</h4>
							</div>
							<tms-input type="Hidden" name="EmployeeId" id="absenceEmployeeId" value="@Model.EmployeeId" />
							<tms-input type="Hidden" name="Id" id="absenceId" />
							<div class="card-body p-0 task-edit-main">
								<div class="row p-5 border-bottom">
									<div class="row search-params-wrapper">
										<div class="col-sm-12 col-md-9 col-xl-6">
											<tms-select name="AbsenceTypeId" id="AbsenceTypeId" options="@Model.AbsenceTypes" label="@localizer["Absence type"]" empty-option-text="@localizer["Select absence type"]" />
										</div>
										<div class="col-sm-12 col-md-3 col-xl-3">
											<tms-input type="Date" name="DateFrom" id="DateFrom" label="@localizer["Date from"]" placeholder="@localizer["Enter date"]..." />
										</div>
										<div class="col-sm-12 col-md-3 col-xl-3">
											<tms-input type="Date" name="DateTo" id="DateTo" label="@localizer["Date to"]" placeholder="@localizer["Enter date"]..." />
										</div>
										<div class="col-sm-12 col-md-3 col-xl-2 pt-5">
											<tms-input type="CheckBox" name="AllDay" id="AllDayId" value="true" label="@localizer["All day"]" />
										</div>
										<div class="col-sm-12 col-md-3 col-xl-2">
											<tms-input type="Text" name="TimeFromFormatted" id="TimeFromFormattedId" label="@localizer["Time from"]"/>
										</div>
										<div class="col-sm-12 col-md-3 col-xl-2">
											<tms-input type="Text" name="TimeToFormatted" id="TimeToFormattedId" label="@localizer["Time to"]" />
										</div>
										<div class="col-sm-12 col-md-3 col-xl-6">
											<div class="form-group">
												<label class="form-label text-muted">@localizer["Note"]:</label>
												<div class="input-group">
													<textarea name="Comment" id="NoteId" class="form-control text-dark" style="height:80px;"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row p-2">
									<div class="btn-list text-end">
										<button type="button" class="btn btn-primary" id="saveId" name="save">@localizer["Save"]</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="panel panel-primary" id="absencesWrapper">
						<partial name="EditAbsenceRecords" model="@Model.EmployeeAbsences" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<link rel="stylesheet" type="text/css" href="~/lib/select2/select2.min.css" />
<script type="text/javascript" src="~/lib/select2/select2.min.js"></script>


<script type="text/javascript">
	var tableParams = {
		"searching": false,
		"fixedColumns": true,
		"autoWidth": true,
		"columnDefs": [
			{ "orderable": false, "targets": [3] }
		],
		"language": {
			"sEmptyTable": "Nema podataka u tabeli",
			"sInfo": "Prikazano _START_ do _END_ od _TOTAL_ unosa",
			"sInfoEmpty": "Prikazano 0 do 0 od 0 unosa",
			"sInfoFiltered": "(filtrirano od _MAX_ unosa)",
			"sInfoPostFix": "",
			"sSearch": "Pretraga:",
			"sUrl": "",
			"sLengthMenu": "Prikazivanje _MENU_ unosa",
			"oPaginate": {
				"sFirst": "Prva",
				"sPrevious": "Prethodna",
				"sNext": "Sledeća",
				"sLast": "Poslednja"
			}
		}
	};


	function bindAbsencesTable()
	{
		$("#tableAbsence").on("click", "button[name='edit']", function () {

			var $row = $(this).closest("tr");

			var id = $(this).val();
			var activityType = $row.find("td:nth-child(1)").text();
			var dateFrom = $row.find("td:nth-child(2)").text();
			var dateTo = $row.find("td:nth-child(3)").text();
			var allDay = $row.find("td:nth-child(4) i");
			var timeFrom = $row.find("td:nth-child(5)").text();
			var timeTo = $row.find("td:nth-child(6)").text();
			var note = $row.find("td:nth-child(7)").text();



			 $("#DateFrom").val(dateFrom);
			 $("#DateTo").val(dateFrom);
			 $("#TimeFromFormattedId").val(timeFrom);
			 $("#TimeToFormattedId").val(timeTo);
			 $("#NoteId").val(note);

			var absenceTypeId = $("#AbsenceTypeId option").filter(function() {
				return $(this).text().trim() === activityType.trim();
			}).val();
			if (allDay.hasClass("fa-check-circle")) {
				$("#AllDayId").prop("checked", true);
			} else if (allDay.hasClass("fa-times-circle")) {
				$("#AllDayId").prop("checked", false);
			}
			$("#AbsenceTypeId").val(absenceTypeId).trigger("change");
			$("#absenceId").val(id);
			$("#absenceEmployeeId").val(@Model.EmployeeId);

		});


		$("#tableAbsence").on("click", "button[name='delete']", function () {

			var id = $(this).val();

			Swal.fire({
				title: '@localizer["DeleteQuestion"]',
				showCancelButton: true,
				confirmButtonText: '@localizer["DeleteConfirmation"]'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: "@delUrl".replace("111", id),
						method: "DELETE",
						success: function (response) {

							handleActionResponseMessage(response, ajaxReloadAbsenceTable, '@localizer["Error"]', '@localizer["DeletedMsg"]');
						},
					});
				}
			});
		});

	}

	function reloadAbsenceTable() {
		$('#tableAbsence').DataTable(tableParams);
	}

	function ajaxReloadAbsenceTable()
	{

		$.ajax({
			url: "@getUrl",
			method: "GET",
			success: function (htmlResponse) {
				$('#tableAbsence').DataTable().clear().destroy();
				$('#absencesWrapper').html(htmlResponse);
				setTimeout(reloadAbsenceTable, 1000);
				bindAbsencesTable();
				$("#absenceEmployeeId").val(@Model.EmployeeId);
			}
		});
	}



	$(document).ready(function () {
		$("#AbsenceTypeId").select2({
			dropdownParent: $("#absenceDataContainer")
		});
		//  var input = document.getElementById('DateFromVehicleYellowCardId');
		// 	 var im = new Inputmask("99.99.9999");
		// 	 im.mask(input);
		// 	 var inputExDate = document.getElementById('DateToVehicleYellowCardId');
		// 	 var ed = new Inputmask("99.99.9999");
		// 	 ed.mask(inputExDate);
		// requiredSelect2('NewDriverYellowCardId');
		reloadAbsenceTable();
		bindAbsencesTable();
		 $("#@id input[type='text'][data-date='auto']").each(function (_, datePickerElement) {
			initDefaultDatePicker(datePickerElement);
		 });

		$("#absenceDataContainer button[name='save']").click(function () {
		$("#saveId").prop("disabled",true);
		var $inputsContainer = $("#absenceDataContainer");

		if (validateRequiredFields($inputsContainer, '@localizer["ValidationMsg"]')) {

			var jsonData = serializeJSON($inputsContainer);

			$.ajax({
				url: "@Url.RouteUrl(RouteNames.EmployeeAbsences_Save)",
				method: "POST",
				data: jsonData,
				success: function (response) {
					handleActionResponseMessage(response, ajaxReloadAbsenceTable, '@localizer["Error"]', '@localizer["SavedMsg"]');


					$inputsContainer.find("input, select, textarea").val('');


					$inputsContainer.find("tms-input").each(function() {
						$(this).val('');
					});

					$("#AbsenceTypeId").val(null).trigger("change");
				}
				});
			}
			setInterval(function() {
				$("#yellowCardSaveId").prop("disabled", false);
			}, 2000);
		});

	});
</script>
